.Card {
  display: flex;
  width: 75%;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.237);
  align-items: start;
}

.Card img {
  border-radius: 8px;
}

.Card_Text {
  width: 66%;
  justify-content: start;
  text-align: justify;
  align-items: center;
}

.Card_Text h2 {
  margin: 0px;
}

.Card_Text p {
  text-align: justify;
}

@media (max-width: 1250px) {
  .Card {
    width: 90%;
    margin: auto;
    display: block;
  }
  .Card_Text {
    text-align: left;
  }
}
