.Card{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.237);
    align-items: center;
}

.Card img {
    border-radius: 8px;
}

.Card_Text{
    justify-content: start;
    text-align: justify;
    align-items: center;
}

.Card_Text h2{
    margin: 0px;
}

.Card_Text p{
    text-align:justify;
}