@font-face {
  font-family: montserrat;
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat_italic;
  src: url(../public/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
.App{
  font-family: montserrat;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #263439;
}

.logo {
  width: 200px; /* Ajuste o tamanho da logo conforme necessário */
}
