@font-face {
  font-family: montserrat;
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat_italic;
  src: url(../public/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
.App{
  font-family: montserrat;
}
