.my_button{
    margin-right: 15px;
    border-radius: 8px;
    height: 32px;
    font-family: montserrat;
    color: black;
    cursor: pointer;
    border: none;
}

.my_button:hover{
    background-color: #D7AC74;
    color: white;
}