.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: #263439;
}

.Logo_Header img{
    height: 80px;
    margin-left: 20px; /* Ajuste o valor conforme necessário */
}

.Elements_Header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.Social_Media{
    height: 20px;
    margin-right: 10px;
}

#YouTube{
    height: 25px;
    margin-right:30px ;
}
